.notfound {
    color: #FF6060;

    img {
        height: 263px;
        width: 597px;

        @media screen and (max-width: 600px){
            height: 99px;
            width: 198px;
        }
    }

    p {
        text-align: center;
        font-size: 36pt;
        @media screen and (max-width: 600px){
            font-size: 18pt;
        }
    }

    a {
        text-align: center;
        font-size: 18pt;
        @media screen and (max-width: 600px){
            font-size: 14pt;
        }
    }
}