.tag {
    border-radius: 10px;
    background-color: #FF6060;
    margin: 10px;
    min-width: 115px;
    width: fit-content;
    padding: 0 15px;
    height: 25px;

    &__container {
        display: flex;
    }
    p {
        color: white;
        text-align: center;
        font-size: 14pt;
    }
}