.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
         color : #FF6060;
        font-size: 24pt;
        @media screen and (max-width: 600px){
            font-size: 12pt;
        }
    }

    img {
        height: 47px;
        width: 145px;
    }
}